@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 220 90% 66%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 203 100% 75%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 20% 10%;
    --foreground: 210 40% 98%;
    --card: 210 20% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 210 20% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 220 90% 66%;
    --primary-foreground: 220 20% 10%;
    --secondary: 210 20% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 20% 15%;
    --muted-foreground: 210 40% 60%;
    --accent: 203 100% 75%;
    --accent-foreground: 203 90% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 20% 20%;
    --input: 210 20% 20%;
    --ring: 220 90% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
